/**
 * Constants
 */

// Theme Colors
// Named with http://chir.ag/projects/name-that-color
$color-white: rgb(255, 255, 255);

// Custom fonts
$font-serif: "Georgia", serif;
$font-sans-serif: "Helvetica", "Arial", sans-serif;

// Typography
$font-size-root: 62.5%;
$font-size-root-px: 10px;
$font-size-base-mobile: 15px;
$font-size-base: 18px;
$line-height-base: 1.75;
$line-height-header: 1.5;

// Transition effects
$transition-duration-default: 0.2s;

// Gutters and breakpoints
$gutter-side-tile: 15px;
$gutter-side-mobile: 20px;
$gutter-side-tablet: 20px;
$gutter-side-desktop: 80px;

$breakpoint-tablet: 768px;
$breakpoint-notebook: 992px;
$breakpoint-desktop: 1200px;

$max-site-width: 1400px;