// Mixins

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin font-size($font-size: $font-size-base, $line-height: $line-height-base) {
  font-size: $font-size * ($font-size-root-px / 10);

  // Restore rem font-size rule once Chrome fixes sizing bug.
  // https://code.google.com/p/chromium/issues/detail?id=319623
  font-size: $font-size / 10 + rem;
  line-height: $line-height;
}

@mixin element-invisible {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}