<!-- Example template -->

<div class="example example--prominent">
  <h2 class="example__title">Example Title</h2>
  <div class="example__description">This is a description</div>
  <a href="#" class="example__cta">Click me!</a>
</div>