{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
      <title>{% block html_title %}{% endblock %}</title>
      <link href="{% static "default/css/style.css" %}" rel="stylesheet" type="text/css" />
      <link href="{% static "panels/css/panels.css" %}" rel="stylesheet" type="text/css" />
      {% block extrastyle %}{% endblock %}
  </head>
  <body>

    <div class="accessibility-links">
      <a class="skip-link" href="#main">Skip to main content</a>
    </div>

    <div id="page">
      <header id="header">
      </header>
      
      <main id="main">

        {% block content_wrapper %}
          <section id="page">
            {% block content %}{% endblock content %}
          </section>
        {% endblock %}
      </main>

      <footer id="footer" class="footer">
      </footer>   
    </div>
         
    <script type="text/javascript" src="{% static "default/js/scripts-all.js" %}"></script>

    {% include 'admin-scripts.html' %}

    {% block extrascript %}{% endblock %}
    {% block page_bottom %}{% endblock %}

  </body>
</html>
